/* 全局 */

/* 整体布局 */
#app {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.top {
    height: 20%;
    display: flex;
    justify-content: space-between;
}

.center {
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.bottom {
    height: 30%;
}

/* top细节布局 */
.selectCharactor {
    padding: 0;
}
.charSelector .runBtn {
    display: block;
    height: 100%;
}


/* center细节布局 */
.activities {
    flex-basis: 40%;
    height: 100%;
    border: 1px solid #000;
    margin: 1% 1% 1% 0;
}

.results {
    flex-basis: 60%;
    height: 100%;
    border: 1px solid #000;
    margin: 1% 0;
}

/* bottom细节布局 */
.logs {
    border: 1px solid #000;
}
