### IntelliJ IDEA ###
.idea/*
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
*.class

### VS Code ###
.vscode/

one-step-java/.gradle/
one-step-js/node_modules/

*/build/



/electron-vite-boilerplate/
/one-step-java/out/
