<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello World!</title>
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline';"
    />
    <link rel="stylesheet" type="text/css" href="../D "/>
    <link rel="stylesheet" type="text/css" href="../assets/css/login.css" />
  </head>
  <body>
    <div id="login">
      <h1>LOGIN~</h1>
      <form class="loginForm">
        <input class="formItem" type="text" name="username" id="username" />
        <input class="formItem" type="password" name="password" id="password" />
        <button class="formItem" type="submit">login!</button>
      </form>
      <div class="or">
        <span>&</span>
      </div>
      <div class="qrcode">
        <img src="../assets/images/qrcode.jpg" alt="qrcode" />
      </div>
    </div>
  </body>
</html>
